[Unit]
Description=Start a2jmidid
Requires=jackd.service
After=jackd.service

[Service]
ExecStart=/usr/bin/a2jmidid -e
ExecStop=/usr/bin/killall a2jmidid
Restart=always
RestartSec=4
Group=audio
User=pi
Environment="HOME=/home/pi/"

[Install]
WantedBy=multi-user.target
