[Unit]
Description=demo
Requires=mod-host.service
After=mod-host.service

[Service]
Type=oneshot
ExecStart=/home/pi/demo.sh
RemainAfterExit=true
StandardOutput=journal
Group=audio

[Install]
WantedBy=multi-user.target
